@import '../../App.css';

nav {
    background-color: #0A1930;
    position: sticky;
    top: 0;
    width: 100%;
}
.nav-link:focus {
    color: #64FFDA;
}
.navbar-toggler {
    border: 1px solid #64FFDA;
}
.navbar-collapse {
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-nav li {
    margin-right: 20px;
}
.navbar-nav li a:hover {
    color: #64FFDA;
}
.show {
    text-align: end;

}