@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #0B192E;
}
.App {
  text-align: center;
  color: #8892AF;
  background-color: #0A1930;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
.fs-big {
  font-size: 5rem;
}
.fs-medium {
  font-size: 4rem;
}
.marginDiv {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.lightColor {
  color: #dde3f4;
}
.baseColor {
  color: #b6c6f9;
}
.darkBaseColor {
  color: #0B192E;
}
.selectedColor {
  color: #64FFDA;
}
.selectedBtn {
  border: 1px solid #64FFDA;
  border-radius: 5%;
  background-color: #0B192E;
}
.selectedBtn:hover {
  background-color: #23f7c645;
  color: #64FFDA;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
