@import '~bootstrap/dist/css/bootstrap.css';

.App {
  text-align: center;
  color: #8892AF;
  background-color: #0A1930;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.baseColor {
  color: #CCD6F6;
}
.darkBaseColor {
  color: #0B192E;
}
.selectedColor {
  color: #64FFDA;
}
.selectedBtn {
  border: 1px solid #64FFDA;
  border-radius: 10%;
}
.selectedBtn:hover {
  background-color: #23f7c645;
  color: #64FFDA;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
